@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  font-size: 1rem; }

/*===== NAVBAR w/ MEDIA QUERY =====*/
.navbar {
  background-color: #7b876d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.shop-title {
  font-size: 1.2rem;
  margin: .5rem; }

.navbar-links {
  height: 100%; }

.navbar-links ul {
  display: flex; }

.navbar-links li {
  list-style: none; }

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1rem; }

.navbar-links li:hover {
  background-color: #989e8b; }

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.8rem;
  height: 1.3rem; }

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px; }

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; }
  .toggle-button {
    display: flex; }
  .navbar-links {
    display: none;
    width: 100%; }
  .navbar-links ul {
    width: 100%;
    flex-direction: column; }
  .navbar-links ul li {
    text-align: center; }
  .navbar-links ul li a {
    padding: .5rem 1rem; }
  .navbar-links.active {
    display: flex; } }

/*===== ADMIN / LOGIN =====*/
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 65vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: #fff;
  border-radius: 5px;
  height: 100vh;
  margin: auto; }

.login-group {
  margin-bottom: 1rem;
  transition: all .3s; }

.login-label {
  display: block;
  opacity: 1;
  transform: translateY(-1.25rem);
  transform-origin: 0 0;
  transition: all .3s; }

.login-control {
  width: 100%;
  padding: 0.9rem;
  box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  transition: all .5s; }

.login-control::placeholder {
  color: transparent; }

.login-control:focus {
  box-shadow: none;
  outline: none;
  /* border-color: #a5a58d; */
  border-color: #c67f43; }

.login-control:focus + .login-label, .login-control:not(:placeholder-shown) + .login-label {
  transform: translateY(-3rem) scale(0.825); }

.login-group:focus-within {
  transform: scale(1.05, 1.05); }

fieldset {
  padding: 6rem;
  color: #7b876d;
  border-radius: 5px; }

fieldset > legend {
  color: #7b876d;
  margin: auto;
  padding: 0 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1; }

.login-btn {
  cursor: pointer;
  background-color: #7b876d;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border: 0;
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 20px 0 30px;
  padding: 5px;
  width: 100%;
  border-radius: 5px; }

.login-btn:focus {
  background-color: #989e8b;
  outline-style: none; }

/*===== ADMIN / MAIN ADD PRODUCTS =====*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background-color: #f2f2f0;
  display: block;
  padding: 0 10vw; }

input [type="text"],
input [type="number"],
textarea {
  display: block;
  width: 18.7rem;
  height: 2.5rem;
  padding: 1.2rem;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  outline: none;
  margin: 20px 0;
  text-transform: capitalize;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01); }

input, textarea {
  font-weight: 500;
  padding: 10px 20px; }

input {
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem; }

textarea {
  width: 100%;
  height: 16.9rem;
  resize: none;
  font-size: 1rem; }

.prod-info {
  width: 100%;
  height: 31.2rem;
  display: grid;
  grid-template-columns: 0.7fr 1.25fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px; }

.prod-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-size: cover;
  border-radius: 10px;
  grid-row: span 2;
  text-shadow: 0 0 10px #fff; }

.prod-text {
  font-weight: 500; }

.upload-img-section {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px; }

.prod text img {
  height: 20px;
  margin-right: 10px; }

.upload-catalog {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px; }

.upload-img {
  width: 100%;
  height: 6.2rem;
  background-color: #f2f2f0;
  background-size: cover;
  cursor: pointer; }

.upload-img:hover {
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover; }

.prod-price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }

.prod-price input {
  margin: 0; }

.buttons {
  margin: 20px 0 50px; }

.prod-btn {
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer; }
